.status_button {
    background-color: white;
    color: rgb(134, 134, 134);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 2px;
    padding: 5px 8px;
    margin-right: -1px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.status_td {
    display: flex;
    justify-content: center;
}

.status_button.present {
    background-color: rgb(71, 159, 71);
    color: white;
    border-color: rgb(71, 159, 71);
}

.status_button.absent {
    background-color: rgb(244,59,75);
    color: white;
    border-color: rgb(244,59,75);
}

.status_button.late {
    background-color: rgb(255, 191, 0);
    color: white;
    border-color: rgb(255, 191, 0);
}